.vs
.vscode
Debug/
x64/

INITIALL.txt
PersonalDetails.txt
TravelDetails.txt

*.exe
personal_details.bin
travel_details.bin
client_code.bin
settings.bin

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
